.index-page {
    background-color: slategrey;
}
footer {
    font-size: 8px;
    font-style: oblique;
    font-weight: bold;
    position: fixed;
}

html {
    font-size: 100%;
    line-height: 1,5rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
    padding: 0;
    min-height: 100vh;
    max-width: 1400px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.tech-image {
    width: 50%;
    height: 50%;
    margin-top: 1rem;
    margin-left: 1rem;
    border: 2px solid black;
}

.line-separation {
    width: 100%;
    height: 3px;
    background: lightskyblue;
    padding: 3px;
    margin-top: 10px;
}

.resume-data {
    margin-top: 3rem;
    text-align: right;
}

.title-text {
    margin-top: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
padding: 3px;
}

.column {
    float: left;
    width: 50%;
    height: 200px;
    display: flex;
    text-align: right;
    text-align: center;
}

.column2 {
    margin-bottom: 6rem;
}
    
.about-me {
    margin-top: 50px;
}

.header-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    line-height: 1rem;
    overflow: hidden;
    margin-bottom: 0rem;
    margin-top: 1rem;
    background-color: salmon;
}

.logo,
.nav-menu {
    text-transform: uppercase;
}

.nav-menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.8rem;
    margin: 0;
}

.nav-item {
    flex: 1 0 10%;
    text-align: center;
}

.logo a, 
.nav-menu a {
    display: block;
    text-decoration: none;
    letter-spacing: 0.2rem;
    padding: 0.8rem;
    margin-bottom: 0.2rem;

}

.logo {
    margin: 0 auto;
}

.logo a {
    color: royalblue;
    align-items: center;
}

.nav-menu a {
    color: rgb(41, 1, 41);
    transition: all ease-in-out 0.5s;
    border-bottom: 1px solid salmon;
}

.nav-menu a:hover {
    background-color: lightskyblue;
    border-bottom: 1px solid rgb(0, 0, 0);
    transition: all ease 0s;
}

.nav-menu a:active {
    transform: scale(0.9);
}

.current-page a {
    text-decoration: underline;
}

.about-me-container {
    list-style: none;
    letter-spacing: 0.1rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

/* Container that holds PDF  and image link */

.container {
    position: relative;
    text-align: center;
    Color: red;
}
.centered a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    color: black;
    text-decoration: none;
    text-shadow: 2px 2px rgb(44, 189, 0);
}
.index-footer {
    position: fixed;
    left: 0;
    bottom: 0;
}

/* Contact Page */
/* This page has four containers for various contact forms as well as an email link. */

.contact-page {
    background-color: slategrey;
    background-position: top;
    background-size: 50rem;
    background-repeat: no-repeat;
}
.contact-icon-container {
    display: flex;
    flex-direction: row;
    justify-content:left;
    justify-content: space-between;
    padding: 0.8rem;    
}

.contact-footer {
    position: fixed;
    left: 0;
    bottom: 0;
}

.email-link {
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
}

.icon {
    width: 30px;
    height: 30px;
}

.socials {
    text-align: center;
    margin-top: 0.5rem;
}

.emails {
    text-align: center;
    margin-top: 0.8rem;
}
            
/* Skillset Page */

.skillset-page {
    background-color: slategrey;
    background-position: top;
    background-size: 50rem;
}

/* Blog Page */

.blog-container {
width: 100%;
height: 400px;
background: salmon;
margin-top: 10px;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.blog {
    width: 150px;
    height: 120px;
    margin: 10px;
}


/* Media Queries */

@media (min-width:600px) {
    .header-nav {
        line-height: 0.5rem; 
    }
    .nav-menu {
        width: 100%;
    }
    .nav-item {
        flex: 1 0 10%;
    }
    .centered a {
        font-size: 1.5rem;
    }
    .tech-image {
        width: 40%;
        height: 70%;
    }
    .socials {
        text-align: left;
    }
}

@media (min-width: 900px) {
    .header-nav {
        justify-content: space-between;
        padding: 1rem 0;
        margin: 1rem auto;
    }
    .nav-menu {
        width: auto;
    }
    .logo {
        margin: 0 0 0 .3rem;
    }
}

