
/* Universal Styling */

h2 {
    text-align: center;
}

.mini-header {
    text-align: center;
    letter-spacing: 0.1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.header-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.header-image {
    width: 20%;
    height: 20%;
}

p {
    text-align: left;
    margin-left: 4px;
}

footer {
    font-size: 8px;
    font-style: oblique;
    font-weight: bold;
    position: fixed;
}

html {
    font-size: 100%;
    line-height: 1.5rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
    padding: 0;
    min-height: 100vh;
    max-width: 1400px;
    background-color: rgb(158, 149, 137);
    font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.main-image {
    width: 50%;
    height: 50%;
    margin-top: 1rem;
    margin-left: 1rem;
    border: 2px solid black;
}

.line-separation {
    width: 100%;
    height: 3px;
    background: rgb(88, 86, 85);
    padding: 3px;
    margin-top: 10px;
}

.title-text {
    margin-top: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
}    


/* Nav Bar Universal Styling */

.header-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    line-height: 1rem;
    overflow: hidden;
    margin-bottom: 0rem;
    margin-top: 1rem;
    background-color: rgb(88, 86, 85);
}

.nav-menu {
    text-transform: uppercase;
}

.nav-menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.8rem;
    margin: 0;
}

.nav-item {
    flex: 1 0 50%;
    text-align: center;
}

.nav-menu a {
    display: block;
    text-decoration: none;
    letter-spacing: 0.2rem;
    padding: 0.8rem;
    margin-bottom: 0.2rem;
}

.nav-menu a {
    color: rgb(41, 1, 41);
    transition: all ease-in-out 0.5s;
    border-bottom: 1px solid rgb(88, 86, 85);
}

.nav-menu a:hover {
    background-color: rgb(221, 213, 197);
    border-bottom: 1px solid rgb(0, 0, 0);
    transition: all ease 0s;
}

.nav-menu a:active {
    transform: scale(0.9);
}

.current-page a {
    text-decoration: underline;
}


/* Index Page Styling */

.resume-data {
    margin-top: 3rem;
    text-align: center;
}

.about-me {
    margin-top: 50px;
    list-style: none;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}


/* Contact Page Styling */

.contact-icon-container {
    display: flex;
    flex-direction: row;
    justify-content:left;
    justify-content: space-between;
    padding: 0.1rem;    
}

.email-link {
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
}

.contact-form {
    border: solid black;
    text-align: center;
    background-color: rgba(204, 157, 87, 0.801);
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.contact-icon {
    width: 40px;
    height: 40px;
    margin-right: 7%;
    margin-left: 7%;
}

.line-separation-socials {
    width: 100%;
    height: 3px;
    background: rgb(88, 86, 85);
    padding: 3px;
    margin-top: 20px;
}
/* Skillset Page Styling */

.skills-text {
    margin-top: 50px;
    margin-left: 5px;
}
.mini-header-skills {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.skill-icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin-left: 20%;
}
.skill-icon {
    display: flex;
    flex-direction: row;
    font-size: 6rem;
    background-color: rgb(158, 149, 137);
    justify-content: center;
}
.fab {
    display: flex;
    text-align: center;
    border: solid rgb(158, 149, 137);
    width: 10rem;
}

/* Blog Page */

.grid-wrapper {
    display: grid;
    grid-gap: 1em;
    margin-top: 10px;
}
.grid-wrapper > div {
    background: rgb(118, 126, 129);
}
.grid-wrapper > div:nth-child(odd) {
    background:white;
}
.gridbox {
    padding: 1px;
    border: burlywood solid 4px;
    text-align: center;
    margin-top: 10px;
    justify-self: center;            
}


/* Media Queries */

@media (min-width:600px) {
    .header-nav {
        line-height: 0.5rem; 
        justify-content: space-evenly;
    }
    .nav-menu {
        width: 100%;
    }
    .nav-item {
        flex: 1 0 10%;
    }
    .centered a {
        font-size: 1.5rem;
    }
    .main-image {
        width: 40%;
        height: 70%;
    }
    .socials {
        text-align: left;
    }
    .skill-icon-container {
        flex-wrap: wrap;
    }
}

@media (min-width: 900px) {
    .header-nav {
        justify-content: space-between;
        justify-content: center;
        padding: 1rem 0;
        margin: 1rem auto;
    }
    .nav-menu {
        width: auto;
    }
    .logo {
        margin: 0 0 0 .3rem;
    }

}

